<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserServiceWCF" />
                <binding name="BasicHttpBinding_IMovieServiceWCF" />
                <binding name="BasicHttpBinding_INoteServiceWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64823/MovieServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovieServiceWCF"
                contract="MovieServiceRef.IMovieServiceWCF" name="BasicHttpBinding_IMovieServiceWCF" />
            <endpoint address="http://localhost:64823/UserServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceWCF"
                contract="UserServiceRef.IUserServiceWCF" name="BasicHttpBinding_IUserServiceWCF" />
            <endpoint address="http://localhost:64823/NoteServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INoteServiceWCF"
                contract="NoteServiceRef.INoteServiceWCF" name="BasicHttpBinding_INoteServiceWCF" />
        </client>
    </system.serviceModel>
</configuration>